<!DOCTYPE html>
<html>
<head>
<link href="../static/css/index.css" rel="stylesheet" type="text/css" />
<script src="../static/js/jquery-3.6.0.js"></script>
<script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $(".first-nav").mouseover(function(){
        $(this).children(".dropdown-content").stop().slideDown()    
      })
    })
    $(document).ready(function(){
      $(".first-nav").mouseout(function(){
        $(this).children(".dropdown-content").stop().slideUp()    
      })
    })
</script>
<style>
@keyframes example {
  0%   {color:white;top:400px;opacity: 0;display: block;}
  25%  {color:white; top:200px;opacity: 1;}
  50%  {color:white; top:200px;opacity: 0;}
  51%  {color:white; top:200px;display: none;}
  100%  {color:white; top:200px;opacity: 0;display: none;}
}
</style>
</head>
<body style="background-size: 100%">
<script type="text/javascript">
var curIndex = 0;
//时间间隔(单位毫秒)，每秒钟显示一张，数组共有3张图片放在img文件夹下
var timeInterval =4000;

                        //定义一个存放照片位置的数组，可以放任意个，在这里放3个
var arr = new Array();
arr[0] = "../static/img/bizhi6.jpg";
arr[1] = "../static/img/bizhi3.jpg";
arr[2] = "../static/img/bizhi5.jpg";
setInterval(changeImg, timeInterval);
function changeImg() {
if (curIndex == arr.length - 1) {
curIndex = 0;
} else {
curIndex += 1;
}
document.body.style.backgroundImage = "URL("+arr[curIndex]+")";  //显示对应的图片
}
</script>
<div class="container">
<li class="first-nav-img">
    <a class="img" href="#">
      <img src="../static/img/咖啡豆logo.png" width="25">
    </a>
</li>
<ul class="nav">
  <li class="first-nav"><a href="">咖友天地</a></li>
  <li class="first-nav"><a href="">咖友推荐</a>
    <ul class="dropdown-content">
      <li><a href="">好店推荐</a></li>
      <li><a href="">品牌推荐</a></li>
      <li><a href="">品牌上新</a></li>
    </ul>
  </li>
  <li class="first-nav"><a href="#news">咖啡资讯</a></li>
  <li class="first-nav"><a href="">咖友文化</a>
    <ul class="dropdown-content">
      <li><a href="">咖啡历史</a></li>
      <li><a href="">饮用方法</a></li>
      <li><a href="">咖啡与中国</a></li>
    </ul>
  </li>
  <li class="first-nav"><a href="">咖友制作</a>
    <ul class="dropdown-content">
      <li><a href="">滴滤咖啡</a></li>
      <li><a href="">虹吸壶（Syphon）</a></li>
      <li><a href="">摩卡壶（Moka Pot）</a></li>
      <li><a href="">比利时皇家咖啡壶</a></li>
      <li><a href="">法式滤压壶</a></li>
      <li><a href="">电动式咖啡机</a></li>
    </ul>
  </li>
  <li class="first-nav"><a href="">咖友风味</a>
    <ul class="dropdown-content">
      <li><a href="">产地</a></li>
      <li><a href="">咖啡树</a></li>
      <li><a hrefss="">分类</a></li>
    </ul>
  </li>
  
</ul>
</div>
  <div id="donghua1" class="lamp">Coffee</div>
  <div id="donghua2" class="lamp">Tea</div>
</body>
</html>
