<!DOCTYPE html>
<link href="../static/css/login.css" rel="stylesheet" type="text/css" />
<script src="../static/js/jquery-3.6.0.js"></script>
<script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $(".first-nav").mouseover(function(){
        $(this).children(".dropdown-content").stop().slideDown()    
      })
    })
    $(document).ready(function(){
      $(".first-nav").mouseout(function(){
        $(this).children(".dropdown-content").stop().slideUp()    
      })
    })
</script>
<html>
<body>
<div class="container">
<li class="first-nav-img">
    <a class="img" href="#">
      <img src="../static/img/咖啡豆logo.png" width="25">
    </a>
</li>
<ul class="nav">
  <li class="first-nav"><a href="">咖友天地</a></li>
  <li class="first-nav"><a href="">咖友推荐</a>
    <ul class="dropdown-content">
      <li><a href="">好店推荐</a></li>
      <li><a href="">品牌推荐</a></li>
      <li><a href="">品牌上新</a></li>
    </ul>
  </li>
  <li class="first-nav"><a href="#news">咖啡资讯</a></li>
  <li class="first-nav"><a href="">咖友文化</a>
    <ul class="dropdown-content">
      <li><a href="">咖啡历史</a></li>
      <li><a href="">饮用方法</a></li>
      <li><a href="">咖啡与中国</a></li>
    </ul>
  </li>
  <li class="first-nav"><a href="">咖友制作</a>
    <ul class="dropdown-content">
      <li><a href="">滴滤咖啡</a></li>
      <li><a href="">虹吸壶（Syphon）</a></li>
      <li><a href="">摩卡壶（Moka Pot）</a></li>
      <li><a href="">比利时皇家咖啡壶</a></li>
      <li><a href="">法式滤压壶</a></li>
      <li><a href="">电动式咖啡机</a></li>
    </ul>
  </li>
  <li class="first-nav"><a href="">咖友风味</a>
    <ul class="dropdown-content">
      <li><a href="">产地</a></li>
      <li><a href="">咖啡树</a></li>
      <li><a hrefss="">分类</a></li>
    </ul>
  </li>
 </ul>
</div>
<div class="main-content">
	<h1>My account</h1>
	<div class="column-container">
		<div class="column column-1">
			<h2>Login</h2>
			<form class= "Login" th:action="@{/user/login}" method="post">
				<P>
					<label>Username or email address</label>
					<span class="required">*</span>
					<input class="input-text" type="text" name="username" /><br>
				</P>
				<p>
					<label>Password</label>
					<span class="required">*</span>
					<input class="input-text"type="text" name="password" /><br>
				</p>
				<p th:text="${msg1}">默认句子</p>
				<P>
					<button class="subiit-button" type="submit">Log in</button>
				</P>
			</form>
		</div>

		<div class="column column-2">
			<h2>Register</h2>
			<form class= "Login" th:action="@{/user/register}" method="post">
				<P>
					<label>Username or email address</label>
					<span class="required">*</span>
					<input class="input-text"type="text" name="username" /><br>
				</P>
				<p>
					<label>Password</label>
					<span class="required">*</span>
					<input class="input-text"type="text" name="password" /><br>
				</p>
				<p th:text="${msg2}">默认句子</p>
				<P>
					<button class="subiit-button" type="submit">Register</button>
				</P>
			</form>
		</div>
	</div>	
	
</div>

</body>
</html>